* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	/*background: radial-gradient(circle, #7ebf9e, #3b8686);
	background-repeat: no-repeat; */
	background-color: #3b8686;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3em;
	color: white;
	margin-top: 1em; 
	margin-bottom: .5em;
	text-align: center;
	text-shadow: 1px 1px 3px #182720;
}

.main-container {
	margin: 0 auto;
	width: 60%;
}

.content {
	background-color: #f4f4f4;
	border: 1px solid #3b8686;
}

.add-btn {
	background-color: #a8dba8;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875em;
	font-weight: 200;
	color: white;
	border: none;
	width: 127px;
	height: 50px;
}

.shopping-items {
	margin: 5em; 
}

.shopping-items li {
	background-color: white;
	margin-bottom: 0.125em;
	overflow: auto;
}

.shopping-items li:last-of-type {
	margin-bottom: 0;
}

.checkmark {
	background-color: #a8dba8;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: .5em;
	float: left;
}

.item {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875em;
	color: #888989;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	float: left;
	padding-left: 1.5em;
}

.del-btn {
	background-color: #e88989;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875em;
	font-weight: 200;
	color: white;
	width: 123px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
}