* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	min-height: 100%;
}

body {
	background-color: #3b8686;
    background: rgba(122,189,154,1);
    background: -moz-linear-gradient(-45deg, rgba(122,189,154,1) 0%, rgba(59,135,135,1) 83%, rgba(59,135,135,1) 88%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(122,189,154,1)), color-stop(83%, rgba(59,135,135,1)), color-stop(88%, rgba(59,135,135,1)));
    background: -webkit-linear-gradient(-45deg, rgba(122,189,154,1) 0%, rgba(59,135,135,1) 83%, rgba(59,135,135,1) 88%);
    background: -o-linear-gradient(-45deg, rgba(122,189,154,1) 0%, rgba(59,135,135,1) 83%, rgba(59,135,135,1) 88%);
    background: -ms-linear-gradient(-45deg, rgba(122,189,154,1) 0%, rgba(59,135,135,1) 83%, rgba(59,135,135,1) 88%);
    background: linear-gradient(135deg, rgba(122,189,154,1) 0%, rgba(59,135,135,1) 83%, rgba(59,135,135,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abd9a', endColorstr='#3b8787', GradientType=1 );
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3rem;
	color: white;
	margin-top: 2.375rem; 
	margin-bottom: 1.500rem;
	text-align: center;
	text-shadow: 1px 1px 3px #182720;
}

.main-container {
	margin: 0 auto;
	width: 60%;
}

.content {
	background-color: #f4f4f4;
	border: 1px solid #3b8686;
	-webkit-box-shadow: 0px 12px 30px -10px rgba(26,53,50,1);
	-moz-box-shadow: 0px 12px 30px -10px rgba(26,53,50,1);
	box-shadow: 0px 12px 30px -10px rgba(26,53,50,1);
}

form {
	overflow: hidden;
	background-color: white;
}

.input-field {
	width: 80%;
	height: 50px;
	border: none;
	padding: 1rem;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875rem;
	text-transform: uppercase;
	color: #888989;
	float: left;
}

.input-field:focus {
	outline: none;
}

.add-btn {
	background-color: #a8dba8;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875rem;
	font-weight: 200;
	color: white;
	border: none;
	width: 127px;
	height: 50px;
	float: right;
	cursor: pointer;
	outline: none;
}

.shopping-items {
	margin: 5rem; 
}

.shopping-items li {
	background-color: white;
	margin-bottom: 0.125rem;
	overflow: auto;
}

.shopping-items li:last-of-type {
	margin-bottom: 0;
}

.check {
	display: none;
}

.checkmark {
	background-color: #a8dba8;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: .5rem;
	float: left;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.item {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875rem;
	color: #888989;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	float: left;
	padding-left: 1.5em;
}

.selected {
	color: #e1e1e1;
	text-decoration: line-through;
}

.del-btn {
	background-color: #e88989;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.875rem;
	font-weight: 200;
	color: white;
	border: none;
	text-align: center;
	width: 123px;
	height: 50px;
	float: right;
	cursor: pointer;
	outline: none;
}
